@use "variables" as v;
@use "mixin" as m;



.formulario {
    max-width: 60rem;
    margin: 0 auto;
    font-size: 2rem;
    padding-top: 5rem;
}

.formulario fieldset {
   border: 1px solid black;
   margin-bottom: 2rem;
}
.formulario legend {
    background-color: #005485;
    width: 100%;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    margin-bottom: 4rem;

}

.campo {
    display: flex;
    margin-bottom: 2rem;
}
.campo label {
    flex-basis: 10rem;
} 
.campo input:not([type="radio"]),
.campo textarea,
.campo select  {
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}


.contenedorform {
    margin-top:5rem;
    margin: 0 auto;
    padding-top: 5rem;
    font-weight: 400;
    font-size: 1rem;
    background-color: v.$principal;
    margin: 0;
    display:block;
    padding: 0;
    padding-bottom: 5rem;
    padding-bottom: 5rem;
}



.font{
    font-size: 2rem;
}


.btn {
    background-color:  #005485;
    display: block;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out ;
    text-align: center;
    border: none;
    width: 100%;
}
.btn:hover {
    background-color: #769c02;
    cursor: pointer;
}

.font1{
    color:v.$gris_oscuro;
}

.btn2 {
    background-color:  green;
    
    color: #FFF;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out ;
    text-align: center;
    border: none;
    width: 97%;
    margin-top: 1rem;
}