


$telefono:480px;
$tablet:768px;
$desktop:1024px;

$principal:#e8505b;
$secundario:rgb(189,30,89);
$negro: #010101;
$blanco: #f0f0f0;
$gris_claro: #e5e5e5;
$gris_oscuro:#838080;
$gap: 2rem;
$boton: #fede2f;

